<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CampusMeme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>450CEF7D1F1302720066D186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450CEF911F1302730066D186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450CEF9C1F1302730066D186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
